<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>savePro</title>
</head>
<body>
<h1 align="center">savePro</h1>

<form th:action="@{/insertPro}", method="post">

    <table class="txtable" align="center">
        <thead>
        <tr>
            <td>id</td>
            <td><input name="id"></td>
        </tr>
        <tr>
            <td>项目编号</td>
            <td><input name="proId"></td>
        </tr>
        <tr>
            <td>项目标题</td>
            <td><input name="proTitle"></td>
        </tr>
        <tr>
            <td>项目内容</td>
            <td><input name="proText"></td>
        </tr>
        <tr>
            <td>项目时间</td>
            <td><input name="createDate"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="提交"></td>
        </tr>
        </thead>


    </table>
</form>

<style>
    .txtable{
        width: 1500px;
        border: 1px solid #1b93e1;
        border-collapse: collapse;
    }
    td{
        border: 1px solid #1b93e1;
    }

</style>
</body>
</html>