<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updateUser</title>
</head>
<body>
<h1 align="center">updateUser</h1>

<form th:action="@{/updateUser}", method="post">

    <table class="txtable" align="center">
        <thead>
        <tr>
            <td>id</td>
            <td><input name="id" th:value="${user.getId}"></td>
        </tr>
        <tr>
            <td>用户名</td>
            <td><input name="username" th:value="${user.getPassword}"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input name="password" th:value="${user.getPassword}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="修改"></td>
        </tr>
        </thead>


    </table>
</form>

<style>
    .txtable{
        width: 1500px;
        border: 1px solid #1b93e1;
        border-collapse: collapse;
    }
    td{
        border: 1px solid #1b93e1;
    }

</style>
</body>
</html>